<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# will_paginate %>
<%== pagy_bootstrap_nav(@pagy) %>

<ul class="users">
  <%= render @users %>
</ul>

<%# will_paginate %>
<%== pagy_bootstrap_nav(@pagy) %>